<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/display.css">
</head>
<body>
    <div id="div1">
        <h1>Click on img for result</h1>
    </div>
    <div id="div2">
        <section class="sec">
            <a href="?src=https://storage.googleapis.com/bizupimg/profile_photo/WhatsApp%20Image%202020-08-23%20at%203.11.46%20PM%20-%20Himanshu%20Kohli.jpeg">
                <img src="https://storage.googleapis.com/bizupimg/profile_photo/WhatsApp%20Image%202020-08-23%20at%203.11.46%20PM%20-%20Himanshu%20Kohli.jpeg" alt="logo1">
            </a>
        </section>
        <section class="sec">
            <a href="?src=https://storage.googleapis.com/bizupimg/profile_photo/918527129869%20instagram-logo-png-2451.png">
                <img src="https://storage.googleapis.com/bizupimg/profile_photo/918527129869%20instagram-logo-png-2451.png" alt="logo2">
            </a>
        </section>
        <section class="sec">
            <a href="?src=https://storage.googleapis.com/bizupimg/profile_photo/bhawya_logo.jpeg">
                <img src="https://storage.googleapis.com/bizupimg/profile_photo/bhawya_logo.jpeg" alt="logo3">
            </a>
        </section>
        <section class="sec">
            <a href="?src=https://storage.googleapis.com/bizupimg/profile_photo/kppl_logo.png">
                <img src="https://storage.googleapis.com/bizupimg/profile_photo/kppl_logo.png" alt="logo4">
            </a>
        </section>
    </div>
</body>
</html>